<div class="ouSelect">
    <div dragable1 dialog-title="批量新增分配"></div>
    <div style="width:100%;padding:10px;" class="updateList">
        <input id="uploadFile" style="display: none" onchange="angular.element(this).scope().uploadUserCsv()"
               name="uploadFile" type="file"/>
        <div style="margin-left:10px">
            <label style="float: left; margin-top: 5px">CSV文件：</label>
            <div class="col-sm-10" style="width: 270px;">
                <input id="filename" type="text" disabled="disabled" class="form-control">
            </div>
            <button class="btn btn-primary" ng-model="args.fileContent"
                    onclick="document.getElementById('uploadFile').value = ''; document.getElementById('uploadFile').click();">
                浏览
            </button>
        </div>
        <p style="margin-top: 10px;margin-left: 10px">
            温馨提示：<br><br>
            1.文件类型只支持csv; <br><br>
            2.模板文件 <a ng-click="downloadTemp()"><i class="fa fa-download"></i>ipTemp.csv</a><br><br>
            3.其中模板文件中字段表明“*”为必填项；<br><br>
            4.支持IP导入，多IP之间以英文逗号隔开，IP字段填写在“起始IP”项，“结束IP”留空；<br><br>
            5.支持网段导入，“起始IP”和“结束IP”为必填项；<br><br>
            6.属性值慎用英文双引号，如要使用，建议使用中文双引号；
        </p>
    </div>
    <div style="text-align: center;margin: 10px;">
        <button class="btn btn-primary" ng-click="confirm()">
            确认
        </button>
        <button style="margin-left: 20px;" class="btn btn-default" ng-click="cancel()">
            取消
        </button>
    </div>
</div>