<div style="width:100%;overflow-y: auto;">
    <div class="cw-top-height">
        <div style="float:left;">
            <label style="float:left;margin-top: 5px;">申请类型：</label>
            <select class="form-control" style="width:100px;float:left;" ng-model="filterObj.apply_type">
                <option value="">全部</option>
                <option value="00">IP申请</option>
                <option value="01">续约申请</option>
            </select>
        </div>
        <div style="float:left;margin-left: 5px">
            <label style="float:left;margin-top: 5px;">IP地址：</label>
            <input type="text" ng-model="filterObj.ip" style="width:120px;float:left;"
                   class="form-control"/>
        </div>
        <div style="float:left;margin-left: 5px;">
            <label style="float:left;margin-top: 5px;">业务系统：</label>
            <input type="text" ng-model="filterObj.business" style="width:120px;float:left;"
                   class="form-control"/>
        </div>
        <div style="float:left;margin-left: 5px;">
            <label style="float:left;margin-top: 5px;">申请人：</label>
            <input type="text" ng-model="filterObj.created_by" style="width:120px;float:left;"
                   class="form-control"/>
        </div>
        <div style="float:left;margin-left: 5px;">
            <label style="float:left;margin-top: 5px;">状态：</label>
            <select ng-model="filterObj.status" class="form-control" style="width:100px;float:left;">
                <option value="0">全部</option>
                <option value="01">已通过</option>
                <option value="02">已拒绝</option>
            </select>
        </div>
        <div style="float:left;margin-left:15px;">
            <button ng-click="searchList()" class="btn btn-primary">查询</button>
        </div>
    </div>
    <div cw-adaptbody="42" ng-grid="gridOption" style="width:100%;"></div>
</div>